/stochastik/stochastik.pdf
/stochastik/stochastik.aux
/stochastik/stochastik.log
/stochastik/stochastik.synctex.gz
/stochastik/stochastik.toc
/vorlage.pdf
/vorlage.aux
/vorlage.log
/vorlage.synctex.gz
/vorlage.toc
/stochastikTUD/stochastikTUD.pdf
/stochastikTUD/stochastikTUD.aux
/stochastikTUD/stochastikTUD.log
/stochastikTUD/stochastikTUD.synctex.gz
/stochastikTUD/stochastikTUD.toc